// Color variables
$color-primary-dark: #006778;
$color-primary-light: #8fbcc4;

$color-green:#65C18C;
$color-blue: #0e3274;
$color-blue-dark:#292841;
$color-blue-light:#b0defa;
$color-red:#D82148;
$color-red-dark:#c00f0f;
$color-purple:#712B75;
$color-purple-light:#BAABDA;
$color-orange:#FE8F8F;
$color-orange-dark:#F68989;
$color-yellow: #ffc074;
$color-yellow-dark:#ffc107;
$color-white: #eee8e8;
$color-grey-dark: #838383;
$color-black: #36393f;

// Font variables
$font-primary:"Oswald",sans-serif;
$font-secondary: "Raleway", sans-serif;

// #218592f7 #0093AB #11698eef;