// Color variables
$color-primary-dark: #006678;
$color-primary-light: #8fbcc4;
$color-green: #65c18c;
$color-blue: #0e3274;
$color-blue-dark: #292841;
$color-blue-light: #b0defa;
$color-red: #d82148;
$color-red-dark: #c00f0f;
$color-purple: #712b75;
$color-purple-light: #9d80dc;
$color-orange: #fe8f8f;
$color-orange-dark: #f68989;
$color-yellow: #ffc074;
$color-yellow-dark: #ffc107;
$color-white: #eee8e8;
$color-grey-dark: #838383;
$color-black: #36393f;

// #218592f7 #0093AB #11698eef;

// Font variables
$font-primary: "Oswald", sans-serif;
$font-secondary: "Raleway", sans-serif;

// Break points
$media-xLarge: 1200px;
$media-large: 991px;
$media-medium: 768px;
$media-small: 600px;
$media-xSmall: 480px;
