footer.footer 
    .footer__title The Colourant Mapping Project 
    .footer__link  Contact us at:  <a href = "mailto: colourmapro@gmail.com">colourmapro@gmail.com</a>
    p(xmlns:cc="https://creativecommons.org/ns#" xmlns:dct="https://purl.org/dc/terms/")
        a( property="dct:title" rel="cc:attributionURL" href="https://www.colourant-mapping.com/") The Colourant Mapping Project by 
        span(property="cc:attributionName") Ariadne Kostomitsopoulou Marketou & Alexandra Rodleris licensed under 
        a( href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" ) CC BY-NC 4.0
    .footer__img
        img( src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="creativecommons")
        img( src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1")
        img( src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1")