.map-box#map
.map__menu#menu
  select
    option(id="mapbox/satellite-v9" type="radio" name="rtoggle" value="mapbox/satellite-v9") setallite 
    option( id="mapbox/light-v10" type="radio" name="rtoggle" value="mapbox/light-v10" ) light
    option( id="mapbox/dark-v10" type="radio" name="rtoggle" value="mapbox/dark-v10") dark
    option( id="mapbox/streets-v11" type="radio" name="rtoggle" value="mapbox/streets-v11") streets
    option( id="jorj-kare/cl83b4ici002t14mu2qbau43m" type="radio" name="rtoggle" value="jorj-kare/cl83b4ici002t14mu2qbau43m") monochrome


