.map-box#map
.map__menu#menu
  select 
    option(id="mapbox/satellite-v9" type="radio" name="rtoggle" value="satellite" checked="checked") setallite 
    option( id="mapbox/light-v10" type="radio" name="rtoggle" value="light") light
    option( id="mapbox/dark-v10" type="radio" name="rtoggle" value="dark") dark
    option( id="mapbox/streets-v11" type="radio" name="rtoggle" value="streets") streets
    option(id="mapbox/outdoors-v11" type="radio" name="rtoggle" value="outdoors") outdoors
    option( id="jorj-kare/ckwcmd6j52li015qo50pcvr9u" type="radio" name="rtoggle" value="basic") basic
 

  