extends base
block head 
  meta(name="description" content="Here you will find the database entries that have been approved from the admin.")
  title  Colourant details | Colourant mapping project
  script( type="module" src="/js/colourantDetails.js" )  
block main
  main#details.details.u-fade-in


