extends base

block head 

block main 
    main.contact 
        h2.h2 Who are we?
        p Ariadne Marketou is a chemist with a PhD in archaeology. Her research interests include ancient colours and colour-perception, archaeological science and chemical analysis. The idea for the Colourant Mapping Project emerged from the challenges that Ariadne faced when she was conducting research on the pigments of Mediterranean antiquity.
        |George Karellakis is the web developer behind this webpage, who found the way to tackle the problem of Colourant Mapping as part of the course CS50’s Introduction to Computer Science (HarvardX).
        |Contact If you have any questions concerning the project, data availability or about the new entries, contact us at colourmapro@gmail.com.

