extends base

block head 
    meta(name="description" content="Here you will find contact info.")
    title Contact info | Colourant mapping project

block main 
    main.contact 
        h2.h2.h2--dark.u-mrg-bottom-s Who are we?
        .text-box
            p.contact__text 
                b Ariadne Kostomitsopoulou Marketou
                a( href ="mailto: ariadne.k.marketou@mf.no" title="ariadne.k.marketou@mf.no")
                    ion-icon( name="mail-outline" )
                |received her PhD in Archaeology and Conservation from the University of Oslo. She has a BSc in Chemistry and an MA in Conservation from the Aristotle 
                |University of Thessaloniki. Her broader research interests include materials analysis, the materiality 
                |of colourants, pigment manufacturing technology, and the organization of craft production in the 
                |ancient Mediterranean world. She is currently a postdoctoral researcher in the project 
                a(href="https://earlyhistoryofthecodex.com" target="_blank") “The Early History of the Codex: A New Methodology and Ethics for Manuscript Studies (EthiCodex)”  
                |at MF Norwegian School of Theology, Religion and Society (PI:
                |prof. Brent Nongbri). Her research within EthiCodex revolves around the materiality of the codex,
                |viewing it as a medium to approach provenance and dating. 


            p.contact__text 
                b Alexandra S. Rodler
                a( href = "mailto: alexandra.rodler@oeaw.ac.at" title="alexandra.rodler@oeaw.ac.at")
                    ion-icon( name="mail-outline" )
                |received her PhD in Geology – Geoscience with a focus on (isotope) 
                |geochemistry from the University of Copenhagen, which was followed by a postdoc position 
                |as part of the Tracking Colour Team at the Ny Carlsberg Glyptotek in Copenhagen, Denmark. 
                |The provenance, trade and production of ancient pigments and colourants have since been part 
                |of her research. She is currently a postdoctoral researcher at the Austrian Archaeological
                |Institute of the Austrian Academy of Sciences and senior research fellow at the Department 
                |of Lithospheric Research, University of Vienna. 

            p.contact__text 
                b George Karellakis 
                |is the web developer behind this webpage, who found the way to tackle the
                |problem of Colourant Mapping as part of the course CS50’s Introduction to Computer Science
                |(HarvardX). He has been constantly finding solutions to our problems, improving the webpage and
                |the database. 
            p.contact__text   If you have any questions concerning the project, data availability or about the new entries,
                |contact us at: 
                a(href = "mailto: colourmapro@gmail.com" ) colourmapro@gmail.com 
