extends base
block append head 
    meta(name="description" content="Here you can reset your password.")
    title Forgot password | Colourant mapping project
    //- using nodmailer and sendgrid
    //- script(type="module" src="/js/forgotPassword.js" defer)
block main 
    main.contact 
        h2.h2.h2--dark.u-mrg-bottom-s Reset your password
        .text-box
            p.contact__text To create a new password, please contact us at 
                a(href = "mailto: colourmapro@gmail.com" ) colourmapro@gmail.com 
                |and we will get back to you as soon as possible.

            //- using nodmailer and sendgrid    
            //- form.form
            //-     .form__group
            //-         label.form__label(for='email') Email
            //-         .form__input--btn
            //-             input#email.form__input(type='email', required)
            //-             button.btn(type="submit") →



