extends base
block append head 
    script(src="/js/forgotPassword.js" defer)
block main 
    main.forgot-password 
        .forgot-password__form 
            h2.h2 Reset your password
            h3.h3 Send us your email address and we will send you a password reset link.
            form.form.u-width-60
                .form__group
                    label.form__label(for='email') Email
                    .form__input--btn
                        input#email.form__input(type='email', required)
                        button.btn(type="submit") →
                
                   
                    
