extends base
block append head 
    meta(name="description" content="Here you can reset your password.")
    title Forgot password | Colourant mapping project
    script(type="module" src="/js/forgotPassword.js" defer)
block main 
    main.forgot-password 
        .form-box 
            h2.h2 Reset your password
            h3.h3 Send us your email address and we will send you a password reset link.
            form.form
                .form__group
                    label.form__label(for='email') Email
                    .form__input--btn
                        input#email.form__input(type='email', required)
                        button.btn(type="submit") →



