extends base

block head
block main
  main.glossary 
    h1.h1.h1--dark Under construction...
    figure
      img(src="/img/rafal-malinowski-PgoamTN42kE-unsplash.jpg" alt="under construction")
      figcaption Photo by <a href="https://unsplash.com/@afterdesign?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Rafał Malinowski</a> on <a href="https://unsplash.com/s/photos/under-constraction?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
