extends base

block head
    meta(name="description" content="Here you can logout from your account.")
    title Logout | Colourant mapping project
    script(type="module" src="/js/logout.js") 
block main 
    main.logout
