extends base

block head 
    script(type="module" src="/js/map.js" )    
block main 
    main.map 
        .map__container
            include _mapComponent
        .map__search
            include _searchFilters
        .results.list__container.u-mrg-bottom-m
            h4#counter.h4.h4--dark.u-mrg-bottom-m
            .sort-by.flex-container-r.u-mrg-bottom-s
                label.form__label(for="sort-category") Sort by:   
                select#sort-category.form__dropdown(autocomplete="off") 
                    option(value="createdAt" selected) Created at
                    option(value="chronology") Chronology
                select#sort-order.form__dropdown(autocomplete="off")
                    option(value=-1 selected) Descending 
                    option(value=1) Ascending 
            ul.list      