extends base
block head 
    script(src="/js/mapBox.js" defer)
    script(src="/js/colourantForm.js" defer)
    script(src="/js/newEntry.js" defer)
    
    


block main     
        .new-entry    
            include _colourantForm