extends base
block head
    meta(name="description" content="Here you can create a new colourant entry.")     
    title New entry | Colourant mapping project
    script(type="module" src="/js/newEntry.js" defer)




block main     
    .new-entry    
        include _colourantForm