extends base
block append head 
    script(src="/js/resetPassword.js" defer)
block main 
    main.reset-password 
        .reset-password__form 
            h2.h2 Reset your password
            h3.h3 Create your new password.
            form.form.u-width-60
                .form__group
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', required)
                .form__group
                    label.form__label(for='password-confirm') Confirm password
                    input#password-confirm.form__input(type='password', required)
                .form__group
                    button.btn.btn--animate.u-mrg-top-s(type="submit") Submit