extends base

block head
    meta(name="description" content="Here you can update your entry.")     
    title Update entry | Colourant mapping project 
    script(type="module" src="/js/updateEntry.js" )
block main 
    main.update-entry 
        button#btnClose.btn.btn--small.btn--close
            a(href=('/myAccount')) ⇽  
        include _colourantForm
        .c-center.u-mrg-bottom-m
            button#btn-edit-form.btn.btn--medium Edit form
            button#btn-reset-form.btn.btn--medium( hidden) Reset form
            if user && user.role=== "admin"
                button#btn-delete-entry.btn.btn--medium.btn--red Delete colourant
        .modal