@use "../abstracts/" as *;

.list {
  width: fit-content;
  max-height: 25rem;
  overflow-y: auto;
  padding-left: 2rem;
  &__container {
    @include form-style(column);
    min-width: 70%;
    max-width: 90%;
    border: 3px double $color-primary-light;
    @include break($media-medium) {
      padding: 5rem 2rem;
    }
    @include break($media-large) {
      max-width: 100%;
    }

    a {
      color: inherit;
    }
    span {
      color: $color-red;
      font-weight: 400;
    }
  }

  &__item {
    margin-top: 1rem;
    padding: 0 0.5rem;
    border: 0.5px solid transparent;
    border-bottom-color: $color-primary-dark;
    color: $color-primary-dark;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    list-style-type: circle;
    transition: all 0.3s;

    &:hover {
      list-style-type: disc;
      border-left-color: $color-purple;
      border-bottom-color: transparent;
      color: $color-purple;
      cursor: pointer;
    }
    &--small {
      font-size: 1.4rem;
      list-style-type: none;
      &:hover {
        list-style-type: none;
        border-left-color: transparent;
        border-bottom-color: $color-purple;
      }
    }
  }

  &__empty {
    color: $color-primary-dark;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    font-weight: 300;
  }
}
