@use "../abstracts" as *;

#map {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.map {
  @include flex-centered(column);
  position: relative;
  // min-height: 100vh;
  padding-top: 10rem;
  background-color: $color-white;
  @include break($media-xSmall) {
    padding-top: 5rem;
  }
  &__container {
    position: relative;
    width: 70%;
    height: 50rem;
    outline: 4px double $color-primary-light;
    border-radius: 6px;
    @include break($media-medium) {
      width: 80%;
      height: 40rem;
    }
    @include break($media-small) {
      width: 90%;
    }
    &--large {
      width: 90%;

      @include break($media-medium) {
        width: 100%;
      }
    }
  }

  &__menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    @include break($media-xSmall) {
      left: unset;
      right: 1rem;
      top: 7rem;
    }
    select {
      margin: 1rem;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: $color-white;
      color: $color-primary-dark;
    }
  }
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  font-family: $font-primary;
  font-weight: 300;
  border-radius: 10px;

  @include break($media-medium) {
    font-size: 16px;
    width: 50%;
  }

  svg {
    fill: $color-primary-dark;
    @include break($media-small) {
      top: 10px;
    }
  }
  input {
    background-color: $color-white;
    border-radius: 10px;
    @include break($media-medium) {
      height: 40px;
    }
  }
}

.mapboxgl-ctrl-geocoder--button {
  background-color: $color-white !important;
  svg {
    transition: fill 0.3s;
    &:hover {
      fill: $color-primary-light !important;
    }
    @include break($media-small) {
      margin-top: 5px;
    }
  }
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  @include break($media-small) {
    display: none;
  }
}
