@use "../abstracts/" as *;
.table {
  border-collapse: separate;
  border-spacing: 0.3rem;
  border: 1px solid $color-primary-dark;
  min-width: 100%;

  &__head {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  &__header {
    max-width: 15ch;
    padding: 1rem;
    border: 1px solid $color-primary-dark;
    background-color: $color-primary-light;
    letter-spacing: 0.8px;
    font-weight: 400;
  }

  &__data {
    position: relative;
    max-width: 15ch;
    padding: 0.5rem;
    border: 1px solid $color-primary-dark;
    font-size: 1.5rem;
    font-weight: 300;
    word-break: break-all;
    transition: 0.5s all;

    &--hover:hover {
      background-color: $color-yellow-dark;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      inset: 0;
      color: $color-primary-dark;
    }
  }
  #td-pigment {
    &:hover {
      cursor: pointer;
      color: $color-primary-dark;
    }
  }
}
@media only screen and (max-width: $media-medium) {
  .table {
    border: 0;

    &__head {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    &__row {
      display: block;
      //   box-shadow: 0.5px 5px 5px #21859295;
      //   margin-bottom: 3rem;
      &:after {
        content: "\21FA \0020 \0020  \25C8 \0020 \0020 \21FB";
        position: relative;
        left: 45%;
        color: $color-purple;
      }
    }

    &__data {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: none;
      padding: 2rem;
      padding-right: 4rem;
      border: 2px double $color-primary-dark;
      border-top-width: 0.5px;
      border-bottom-width: 0.5px;
    }

    &__data::before {
      content: attr(data-label);
      align-self: flex-start;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 1px;
    }

    &__data:first-child {
      margin-top: 1.5rem;
      border-top-width: 2px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &__data:last-child {
      border-bottom-width: 2px;
      box-shadow: 0 5px 5px #12121234;
      margin-bottom: 1.5rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
