@use "../abstracts/" as *;

.tooltip {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 5px;
  height: 5px;
  padding: 10px;
  margin: 20px 5px 0 10px;
  border: 1px solid $color-primary-dark;
  border-radius: 50px;
  background-color: transparent;
  color: $color-primary-dark;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.5s;
  &:hover &__text {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    background-color: $color-yellow-dark;
  }
  &--dark {
    border: 1px solid $color-white;
    color: $color-white;
  }

  &__text {
    display: flex;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 40ch;
    padding: 1rem;
    margin-bottom: 13px;
    right: -3.5rem;
    bottom: 100%;
    border: 1px solid $color-yellow-dark;
    border-radius: 5px;
    background-color: #cacacafd;
    color: $color-primary-dark;
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    z-index: 10;
    transition: all 0.5s;

    &:after {
      content: " ";
      position: absolute;
      top: 100%;
      right: 12%;
      margin-left: -5px;
      border-width: 10px;
      border-style: solid;
      border-color: $color-yellow-dark transparent transparent transparent;
    }
  }
}
