@use "../abstracts/" as *;

html {
  @include break($media-xLarge) {
    font-size: 56.25%;
  }
  @include break($media-small) {
    font-size: 50%;
  }
  @include break($media-xSmall) {
    font-size: 43.75%;
  }
}

body {
  font-size: 1.6rem;
  font-family: $font-primary;
  font-weight: 200;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.h1 {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  color: $color-white;
  text-align: center;
  &--dark {
    color: $color-primary-dark;
  }
  
  @include break($media-large) {
    font-size: 6rem;
  }
  @include break($media-xSmall) {
    letter-spacing: 0.5rem;
  }
}

.h2 {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: $color-white;
  &--dark {
    color: $color-primary-dark;
  }
}
.h3 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  color: $color-white;
  &--dark {
    color: $color-primary-dark;
  }
}

.h4 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  color: $color-primary-dark;
}
