@use "../abstracts/" as *;
.u-pad-top {
  padding-top: 10rem !important;
}
.u-mrg-top-s {
  margin-top: 3rem !important;
}
.u-mrg-top-m {
  margin-top: 5rem !important;
}
.u-mrg-bottom-s {
  margin-bottom: 2.5rem !important;
}
.u-mrg-bottom-m {
  margin-bottom: 5rem !important;
}
.u-mrg-rgt {
  margin-right: 2rem;
}
.u-width-s {
  width: 50% !important;
}
.u-width-m {
  width: 60%;
}
.u-width-l {
  width: 80% !important;
  @include break($media-medium){
    width: 100% !important;
  }
}

.u-hidden {
  display: none !important;
}
.u-transparent {
  opacity: 0 !important;
}
.u-fade-in {
  animation: fade-in 0.3s forwards;
}
.u-fade-out {
  animation: fade-out 0.3s forwards;
}
