@use "../abstracts/" as *;
.forgot-password {
  @include flex-centered();
  padding: 15rem 3rem;
  background-color: $color-white;
  @include break($media-large) {
    padding: 5rem 3rem;
  }
  .h3 {
    padding: 3rem 0;
    text-align: center;
  }
  .h2 {
    border-bottom: 3px double $color-white;
    text-align: center;

   
  }
}
