@use "../abstracts" as *;

.logout {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(10, 65, 102, 0.674),
      rgba(11, 89, 144, 0.596)
    ),
    url("/img/hero.jpg");
  @include break($media-small) {
    background-image: linear-gradient(
        rgba(10, 65, 102, 0.674),
        rgba(11, 89, 144, 0.596)
      ),
      url("/img/hero-small.jpg");
  }
}
