@use "../abstracts" as *;

#map {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.map{
  position: relative;
  background-color: $color-white;
}
.search {
  
  &__box {
    display: flex;
    align-items: flex-end;
  }
}

.results {
  margin: 2rem 0;
  padding: 3rem;
  min-width: 70%;
  border: 4px solid $color-primary-light;
  border-radius: 5px;
}

.map {
  @include flex-centered(column);
  min-height: 100vh;
  padding-top: 10rem;
  &__container {
    width: 50%;
    height: 40rem;
    outline: 3px solid $color-primary-light;
    border-radius: 6px;
  }
  &__container2 {
    width: 80%;
    height: 30rem;
    outline: 3px solid $color-white;
    border-radius: 6px;
  }
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  border-radius: 10px;
  background-color: $color-white;
  svg {
    fill: $color-primary-light;
  }
  button {
    background-color: transparent;
  }
  input {
    color: $color-black;
  }
  .suggestions-wrapper {
    ul {
      background-color: $color-white;
      border-radius: 10px;
      li > * {
        color: $color-black;
      }
    }
  }
}
.mapboxgl-popup-close-button{
  margin: .1rem;
  font-size:1.4rem ;
  color: $color-purple;
  &:hover,
  &:active {
    background-color: transparent;
    
  }
}
// .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
//   opacity: 0;
// }
