@use "../abstracts/" as *;
.account {
  @include flex-centered(column);
  position: relative;
  padding: 15rem 3rem;
  background-color: $color-white;
  @include break($media-medium) {
    padding: 5rem 0.5rem;
  }
  .h2 {
    border-bottom: 3px double $color-white;
    &--dark {
      border-color: $color-primary-light;
    }
  }
  .h3 {
    padding-top: 1rem;
    text-align: center;
    @include break($media-xSmall) {
      padding-bottom: 3rem;
    }
  }

  &__form {
    form {
      display: grid;
      width: 100%;
      gap: 3rem;
      grid-template-areas:
        "email  first-name"
        "username last-name"
        "affiliation  affiliation"
        "button button";

      @include break($media-xSmall) {
        grid-template-areas:
          "email email"
          "first-name first-name"
          "username username"
          "last-name last-name"
          "affiliation affiliation"
          "button button ";
        justify-content: space-between;
        gap: 1rem;
      }

      .email-group {
        grid-area: email;
      }
      .username-group {
        grid-area: username;
      }
      .firstName-group {
        grid-area: first-name;
      }
      .lastName-group {
        grid-area: last-name;
      }
      .affiliation-group {
        grid-area: affiliation;
      }
      .button-group {
        grid-area: button;
      }
    }
  }

  .link {
    font-size: 2.5rem;
  }
}

.password__form {
  @include form-style(column, $color-primary-light);
  min-width: 70%;

  .btn--close {
    top: -2rem;
    left: 2rem;
    border: transparent;
  }
}
