@use "../abstracts/" as *;

.new-entry {
  @include flex-centered(column);
  background-color: $color-white;
  padding-top: 10rem;
  @include break($media-medium){
    padding-top: 5rem;
  }
}

.chr {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.bce,
.ce {
  background-color: $color-white;
  color: $color-primary-dark;
}
