@use "../abstracts/" as *;

.new-entry {
  @include flex-centered(column);
  background-color: $color-white;
  padding-top: 10rem;
  @include break($media-medium) {
    padding-top: 5rem;
  }
  @include break($media-xSmall) {
    #map-fieldset {
      justify-content: center;
      padding: 5rem 2rem;
      legend {
        left: 2rem;
      }
    }
  }
}

.chr {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.bce,
.ce {
  background-color: $color-white;
  color: $color-primary-dark;
}
