@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.hero-img {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 3rem;
  height: 100vh;
  background-image: linear-gradient(
      rgba(10, 65, 102, 0.674),
      rgba(11, 89, 144, 0.596)
    ),
    url("/img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include break($media-small) {
    background-image: linear-gradient(
        rgba(10, 65, 102, 0.674),
        rgba(11, 89, 144, 0.596)
      ),
      url("/img/hero-small.jpg");
  }

  &__link {
    align-self: flex-end;
    font-size: 4rem;
    color: $color-white;
    transform: translateY(-5px);
    transition: all 0.3s;
    &:hover,
    &:active {
      color: $color-orange;
      transform: translateY(0);
    }
  }
  .h1 {
    position: relative;
    top: 5rem;
  }
}

.overview {
  @include flex-centered($direction: column);
  justify-content: flex-start;
  border: 3px double $color-primary-light;
  min-height: 100vh;
  padding: 5rem 5rem;
  background-color: $color-white;
  font-size: 2.2rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  color: $color-black;

  &__text {
    max-width: 60ch;
    margin-top: 1.5rem;
    color: $color-primary-dark;
  }
}
